/* General Styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9; /* Very light grey for contrast with sections */
    color: #333;
}

/* Header Section */
header {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Section Styles */
section {
    background-color: #ffffff; /* Pure white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    margin-bottom: 30px; /* Space between sections */
    padding: 20px;
    border: 1px solid #eaeaea; /* Subtle border for structure visibility */
}

/* Projects Section */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.project {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 300px;
}

.project.full-width {
    grid-column: span 2;
}

/* Power BI Section */
.power-bi-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #eaeaea;
}

.power-bi-project {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.power-bi-project iframe {
    width: 95%;
    height: 600px;
    border: none;
    margin: 10px 0;
}

/* Footer */
footer {
    background: #ffffff;
    color: #444;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
}
